DATASOURCE_URL=jdbc:postgresql://localhost:5432/street_vendor
DATASOURCE_USERNAME=postgres
DATASOURCE_PASSWORD=postgres
REDIS_HOST=localhost
REDIS_PORT=6379
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=changeme
